---
interface Props {
	title: string;
}

const { title = "Spanish with Liz" } = Astro.props;
---

<head>
    <meta charset="UTF-8" />
    <meta name="description" content="Learn Spanish with Liz" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link
        rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Concert+One&family=Archivo+Narrow:wght@400&family=Besley&display=swap"
    />
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
</head>