---

---

<div class="card first">
    <h3>Jump into Digital Language Fun!</h3>
    <p>
        Hey there! Ever tried learning Spanish over Zoom, Skype, or Teams? It's
        incredibly fun and super convenient! I've taught students from around
        the world, backpackers gearing up for adventures, professionals wanting
        to charm overseas clients, and just amazing people like you looking to
        pick up a new skill. With the world at our fingertips, there's no better
        time to dive in!
    </p>
</div>
<div class="card second">
    <h3>Let's Unlock New Worlds!</h3>
    <p>
        Hola amigo! 🌟 Spanish isn't just a language; it's a gateway to diverse
        cultures, rich histories, and millions of heartfelt conversations. By
        picking up Spanish, you'll boost your brain power, enhance job
        prospects, and even make travel more immersive. Plus, being bilingual is
        just plain cool, right? Dive into the world of Spanish with me, and
        together, let's make every lesson count, unlocking endless
        opportunities. Ready to explore the rhythm of Spanish? Let’s dance to
        its beat! 🎵🌍
    </p>
</div>
<div class="card third">
    <h3>Your Lessons, Your Pace!</h3>
    <p>
        Here's the thing - we all learn differently. So, whether you're a fast
        learner, need a little extra time, or you're somewhere in between, I've
        got your back. Every lesson with me is crafted with love, keeping you in
        mind. Let's navigate this beautiful language together and make sure
        you're having a blast while at it! Ready to embark on this vibrant
        linguistic journey?🚀
    </p>
</div>

<style>
    .card {
        padding: 0 1em;
        color: #323232;
        background: rgba(242, 233, 219, 0.7);
        border-radius: 16px;
    }

    .card p {
        min-height: auto;
        font-family: Archivo Narrow;
        color: #323232;
    }

    .card h3 {
        font-family: "Concert One";
    }
    @media screen and (min-width: 600px) {
    }
    @media screen and (min-width: 800px) {
        
    }
    @media screen and (min-width: 1000px) {
        .card.first {
            width: 70%;
        }
    }
    @media screen and (min-width: 1200px) {
        .card {
            position: absolute;
            width: 60%;
            padding: 2em;
        }
        .card.first {
            top: 24px;
            left: 24px;
            width: 24%;
        }
        .card.second {
            top: 102px;
            left: 370px;
            width: 42%;
        }
        .card.third {
            bottom: 12px;
            right: 24px;
        }
    }
</style>
