---

---

<a
    style="float:none; display: inline-flex; z-index: 20000"
    id="Setmore_button_iframe"
    href="https://booking.setmore.com/scheduleappointment/9872e8c5-1a11-4d90-8d06-21f3b9edb65c"
>
    <!-- <img
        border="none"
        src="https://storage.googleapis.com/full-assets/setmore/images/1.0/Calendar/Setmore-Book-Now.png"
        alt="Book an appointment with Liborio Tandurella using Setmore"
    /> -->
    <span class="BookALesson">Book a lesson!</span>
</a>
<style>
    a {
        position: fixed;
        text-decoration: none;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        /* width: 223px;
		height: 83px; */
        bottom: 1em;
        right: 1em;
        background: #e53e98;
        border-radius: 100px;
        padding: 0.68em;
        margin: 0 4em;
        /* border: 0.5px black solid; */
    }
    span {
        color: white;
        font-size: 24px;
        font-family: Concert One;
        font-weight: 400;
        word-wrap: break-word;
    }
    @media screen and (min-width: 1400px) {
        a {
            position: inherit;
        }
    }
</style>
