---
// src/pages/swiper.astro
---

<div class="wrapper">
	<!-- Slider main container -->
	<div class="swiper">
		<!-- Additional required wrapper -->
		<div class="swiper-wrapper">
			<!-- Slides -->
			<div class="swiper-slide">
				<div class="content-wrapper">
					<div class="content">
						<h1>John Doe 1</h1>
						<svg
							width="79px"
							height="16px"
							viewBox="0 0 79 16"
							version="1.1"
							xmlns="http://www.w3.org/2000/svg"
							xmlns:xlink="http://www.w3.org/1999/xlink"
						>
							<g
								id="Page-1"
								stroke="none"
								stroke-width="1"
								fill="none"
								fill-rule="evenodd"
							>
								<path
									d="M8,0 L10.1640796,6.10199526 L16,6.10199526 L11.2461199,9.68514392 L12.9312641,15.9822618 L8,12.2039912 L3.06873586,15.9822618 L4.75388012,9.68514392 L0,6.10199526 L5.83592042,6.10199526 L8,0 Z M24,0 L26.1640796,6.10199526 L32,6.10199526 L27.2461199,9.68514392 L28.9312641,15.9822618 L24,12.2039912 L19.0687359,15.9822618 L20.7538801,9.68514392 L16,6.10199526 L21.8359204,6.10199526 L24,0 Z M40,0 L42.1640796,6.10199526 L48,6.10199526 L43.2461199,9.68514392 L44.9312641,15.9822618 L40,12.2039912 L35.0687359,15.9822618 L36.7538801,9.68514392 L32,6.10199526 L37.8359204,6.10199526 L40,0 Z M68.8359204,6.10199526 L71,0 L73.1640796,6.10199526 L79,6.10199526 L74.2461199,9.68514392 L75.9312641,15.9822618 L71,12.2039912 L66.0687359,15.9822618 L67.7538801,9.68514392 L63.5,6.478 L59.2461199,9.68514392 L60.9312641,15.9822618 L56,12.2039912 L51.0687359,15.9822618 L52.7538801,9.68514392 L48,6.10199526 L53.8359204,6.10199526 L56,0 L58.1640796,6.10199526 L68.8359204,6.10199526 Z"
									id="Combined-Shape"
									fill="#FFFFFF"
									fill-rule="nonzero"></path>
							</g>
						</svg>
						<p>
							With speed, control, and confidence on any terrain,
							Diverge is the most capable gravel bike ever made.
							Switching from Midwest gravel at Mach 5 to rutted
							single track with ease, nothing helps you escape
							faster than Diverge.
						</p>
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="content-wrapper">
					<div class="content">
						<h1>John Doe 2</h1>
						<svg
							width="79px"
							height="16px"
							viewBox="0 0 79 16"
							version="1.1"
							xmlns="http://www.w3.org/2000/svg"
							xmlns:xlink="http://www.w3.org/1999/xlink"
						>
							<g
								id="Page-1"
								stroke="none"
								stroke-width="1"
								fill="none"
								fill-rule="evenodd"
							>
								<path
									d="M8,0 L10.1640796,6.10199526 L16,6.10199526 L11.2461199,9.68514392 L12.9312641,15.9822618 L8,12.2039912 L3.06873586,15.9822618 L4.75388012,9.68514392 L0,6.10199526 L5.83592042,6.10199526 L8,0 Z M24,0 L26.1640796,6.10199526 L32,6.10199526 L27.2461199,9.68514392 L28.9312641,15.9822618 L24,12.2039912 L19.0687359,15.9822618 L20.7538801,9.68514392 L16,6.10199526 L21.8359204,6.10199526 L24,0 Z M40,0 L42.1640796,6.10199526 L48,6.10199526 L43.2461199,9.68514392 L44.9312641,15.9822618 L40,12.2039912 L35.0687359,15.9822618 L36.7538801,9.68514392 L32,6.10199526 L37.8359204,6.10199526 L40,0 Z M68.8359204,6.10199526 L71,0 L73.1640796,6.10199526 L79,6.10199526 L74.2461199,9.68514392 L75.9312641,15.9822618 L71,12.2039912 L66.0687359,15.9822618 L67.7538801,9.68514392 L63.5,6.478 L59.2461199,9.68514392 L60.9312641,15.9822618 L56,12.2039912 L51.0687359,15.9822618 L52.7538801,9.68514392 L48,6.10199526 L53.8359204,6.10199526 L56,0 L58.1640796,6.10199526 L68.8359204,6.10199526 Z"
									id="Combined-Shape"
									fill="#FFFFFF"
									fill-rule="nonzero"></path>
							</g>
						</svg>
						<p>
							Morph Sagan’s superhuman speed with Alaphilippe’s
							climbing power and you’ve got the Tarmac SL7. The
							bike that knows no compromise. Climb on the lightest
							bike the rules allow, sprint on the fastest – all
							with legendary Tarmac handling. The only choice you
							need to make is when to attack.
						</p>
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="content-wrapper">
					<div class="content">
						<h1>John Doe 3</h1>
						<svg
							width="79px"
							height="16px"
							viewBox="0 0 79 16"
							version="1.1"
							xmlns="http://www.w3.org/2000/svg"
							xmlns:xlink="http://www.w3.org/1999/xlink"
						>
							<g
								id="Page-1"
								stroke="none"
								stroke-width="1"
								fill="none"
								fill-rule="evenodd"
							>
								<path
									d="M8,0 L10.1640796,6.10199526 L16,6.10199526 L11.2461199,9.68514392 L12.9312641,15.9822618 L8,12.2039912 L3.06873586,15.9822618 L4.75388012,9.68514392 L0,6.10199526 L5.83592042,6.10199526 L8,0 Z M24,0 L26.1640796,6.10199526 L32,6.10199526 L27.2461199,9.68514392 L28.9312641,15.9822618 L24,12.2039912 L19.0687359,15.9822618 L20.7538801,9.68514392 L16,6.10199526 L21.8359204,6.10199526 L24,0 Z M40,0 L42.1640796,6.10199526 L48,6.10199526 L43.2461199,9.68514392 L44.9312641,15.9822618 L40,12.2039912 L35.0687359,15.9822618 L36.7538801,9.68514392 L32,6.10199526 L37.8359204,6.10199526 L40,0 Z M68.8359204,6.10199526 L71,0 L73.1640796,6.10199526 L79,6.10199526 L74.2461199,9.68514392 L75.9312641,15.9822618 L71,12.2039912 L66.0687359,15.9822618 L67.7538801,9.68514392 L63.5,6.478 L59.2461199,9.68514392 L60.9312641,15.9822618 L56,12.2039912 L51.0687359,15.9822618 L52.7538801,9.68514392 L48,6.10199526 L53.8359204,6.10199526 L56,0 L58.1640796,6.10199526 L68.8359204,6.10199526 Z"
									id="Combined-Shape"
									fill="#FFFFFF"
									fill-rule="nonzero"></path>
							</g>
						</svg>
						<p>
							You’re looking at the fastest XC bikes in the world.
							Building on the legacy of the winningest full
							suspension XC bike in history, these freshly
							redesigned Epics deliver an unmatched combination of
							pedaling efficiency, light weight and control.
						</p>
					</div>
				</div>
			</div>
		</div>

		<!-- If we need pagination -->
		<!-- If we need navigation buttons -->
		<div class="swiper-nav-wrapper">
			<div class="swiper-button-prev"></div>
			<div class="swiper-pagination"></div>
			<div class="swiper-button-next"></div>
		</div>
	</div>
</div>

<link
	rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
/>
<script
	is:inline
	src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

<style>
	.wrapper {
		width: 100%;
		/* max-width: 1000px; */
		margin: 0 auto;
	}
	.content-wrapper {
		position: relative;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
		grid-template-areas: ".";
		width: 100%;
		justify-items: center;
		align-items: center;
		.content {
			/* padding: $g-spacing; */
			opacity: 0;
			width: 100%;
			max-width: 780px;
			transition-duration: 1.5s, 0.6s;
			transition-property: opacity, transform;
			color: #fff;
			:first-child {
				margin: 0;
			}
		}
		.content svg path {
			fill: #a15987;
		}
		.content p {
			width: 363px;
			height: 121px;
			color: #323232;
			font-size: 16px;
			font-family: Archivo Narrow;
			font-weight: 400;
			word-wrap: break-word;
			padding: 10px;
		}
		.content h1 {
			color: #d6a551;
			font-size: 40px;
			font-family: Besley;
			font-weight: 700;
			word-wrap: break-word;
			padding: 10px;
		}
	}
	.swiper-slide {
		margin: 0;
		height: auto;
		/* width: 100%; */
		/* padding: $g-spacing * 2 0; */
		height: 363px;
		background: #fefdfc;
		border-radius: 16px;
		border: 1px #d6a551 solid;
		margin-right: 10px;
		margin-top: 16px;
		cursor: pointer;
		box-sizing: border-box;
		&.swiper-slide-active {
			.swiper-image {
				transform: scale3d(1.02, 1.02, 1);
				will-change: transform;
			}
			.content {
				opacity: 1;
				text-align: center;
				display: grid;

				justify-items: center;
				align-items: center;
			}
		}
	}
	.swiper-nav-wrapper {
		left: 0;
		right: 0;
		display: flex;
		position: absolute;
		top: 0;
		width: 90%;
		height: 97%;
		justify-content: space-between;
		align-items: center;
		margin: 0 auto;
		.swiper-button-next,
		.swiper-button-prev {
			width: 64px;
			height: 64px;
			border-radius: 50%;
			background-color: #e53e98;
			color: #323232;
			top: 0;
			top: auto;
			left: auto;
			right: auto;
			position: relative !important;
			&:after {
				display: none;
			}
		}
		.swiper-button-next,
		.swiper-container-rtl .swiper-button-prev {
			background-image: url("data:image/svg+xml,%0A%3Csvg width='9px' height='16px' viewBox='0 0 9 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='chevron-right' fill='%23FFFFFF' fill-rule='nonzero'%3E%3Cpath d='M8.674805,7.066406 L1.924805,0.316406 C1.696288,0.105468 1.432619,0 1.133789,0 C0.834959,0 0.57129,0.105468 0.342773,0.316406 C0.114257,0.544923 0,0.808592 0,1.107422 C0,1.406251 0.114257,1.669921 0.342773,1.898438 L6.301758,7.857422 L0.342773,13.816406 C0.114257,14.044923 0,14.308592 0,14.607422 C0,14.906251 0.114257,15.169921 0.342773,15.398438 C0.465821,15.521485 0.584472,15.609375 0.69873,15.662109 C0.812989,15.714844 0.958007,15.741211 1.133789,15.741211 C1.309571,15.741211 1.454589,15.714844 1.568848,15.662109 C1.683106,15.609375 1.801757,15.521485 1.924805,15.398438 L8.674805,8.648438 C8.903321,8.419921 9.017578,8.156251 9.017578,7.857422 C9.017578,7.558592 8.903321,7.294923 8.674805,7.066406 Z' id='Path'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E") !important;
			/* width: 20px;
				height: 20px; */
			background-size: 20px 20px;
			background-position: center;
			background-repeat: no-repeat;
			margin: 0;
			padding: 0;
		}

		.swiper-button-prev,
		.swiper-container-rtl .swiper-button-next {
			background-image: url("data:image/svg+xml,%0A%3Csvg width='9px' height='16px' viewBox='0 0 9 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='chevron-right' transform='translate(4.508789, 7.870605) rotate(-180.000000) translate(-4.508789, -7.870605) translate(-0.000000, -0.000000)' fill='%23FFFFFF' fill-rule='nonzero'%3E%3Cpath d='M8.674805,7.066406 L1.924805,0.316406 C1.696288,0.105468 1.432619,0 1.133789,0 C0.834959,0 0.57129,0.105468 0.342773,0.316406 C0.114257,0.544923 0,0.808592 0,1.107422 C0,1.406251 0.114257,1.669921 0.342773,1.898438 L6.301758,7.857422 L0.342773,13.816406 C0.114257,14.044923 0,14.308592 0,14.607422 C0,14.906251 0.114257,15.169921 0.342773,15.398438 C0.465821,15.521485 0.584472,15.609375 0.69873,15.662109 C0.812989,15.714844 0.958007,15.741211 1.133789,15.741211 C1.309571,15.741211 1.454589,15.714844 1.568848,15.662109 C1.683106,15.609375 1.801757,15.521485 1.924805,15.398438 L8.674805,8.648438 C8.903321,8.419921 9.017578,8.156251 9.017578,7.857422 C9.017578,7.558592 8.903321,7.294923 8.674805,7.066406 Z' id='Path'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E") !important;
			/* width: 20px;
				height: 20px; */
			background-size: 20px 20px;
			background-position: center;
			background-repeat: no-repeat;
			margin: 0;
			padding: 0;
		}
	}

	.swiper-pagination {
		margin: 0;
		padding: 0;
		width: auto;
		position: relative !important;
		display: block;
		width: auto;
		align-self: end;
		.swiper-pagination-bullets {
			margin: 0;

			.swiper-pagination-bullet {
				margin: 0;
				background: #fff !important;
			}
		}
	}
	.swiper-pagination-bullet {
		background: #fff !important;
	}

	.swiper-pagination-bullets.swiper-pagination-horizontal {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		bottom: 0;
		top: 0;
		bottom: 0;
		width: auto;
		padding: 0 $g-spacing;
	}
	.swiper {
		padding-bottom: 2em;
	}
</style>

<script>
	// const track = document.querySelector(".carousel-track");
	// const tests = Array.from(track.children);
	// tests.forEach((test, i) => {
	// 	test.setAttribute("data-index", "" + i);
	// 	test.addEventListener("click", (e) => {
	// 		tests[currentIndex].classList.remove("testimonial-up");
	// 		currentIndex = i;
	// 		tests[i].classList.add("testimonial-up");
	// 	});
	// });
	// const nextButton = document.querySelector("#nextBtn");
	// const prevButton = document.querySelector("#prevBtn");
	// let currentIndex = 0; // Keep track of the current testimonial

	// // Update the track's position
	// const updateTrackPosition = () => {
	// 	const currentTest = tests[currentIndex];
	// 	currentTest.classList.add("testimonial-up");
	// 	track.style.transform = `translateX(-${currentTest.offsetLeft}px)`;
	// };

	// // Move to the next testimonial
	// nextButton.addEventListener("click", function () {
	// 	tests[currentIndex].classList.remove("testimonial-up");
	// 	if (currentIndex < tests.length - 1) {
	// 		currentIndex++;
	// 		updateTrackPosition();
	// 	}
	// });

	// // Move to the previous testimonial
	// prevButton.addEventListener("click", function () {
	// 	tests[currentIndex].classList.remove("testimonial-up");
	// 	if (currentIndex > 0) {
	// 		currentIndex--;
	// 		updateTrackPosition();
	// 	}
	// });
	const swiper = new Swiper(".swiper", {
		// Optional parameters
		direction: "horizontal",
		loop: true,
		// autoHeight: true,
		// slidesPerView: 3,
		// spaceBetween: 6,
		centeredSlides: true,
		pagination: {
			el: ".swiper-pagination",
			// clickable: true,
		},
		breakpoints: {
			"@0.75": {
				slidesPerView: 1,
				spaceBetween: 0,
			},
			"@1.00": {
				slidesPerView: 2,
				spaceBetween: 6,
			},
		},

		// Navigation arrows
		navigation: {
			nextEl: ".swiper-button-next",
			prevEl: ".swiper-button-prev",
		},

		// And if we need scrollbar
		/*scrollbar: {
    el: '.swiper-scrollbar',
  },*/
	});
</script>
